@model MongoDBCRUD.Models.GiaHanEntity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GiaHanEntity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TENDG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TENDG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TENSACH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TENSACH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TUNGAY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TUNGAY)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DENNGAY)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DENNGAY)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
